.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2%;
  height: 20%;
  transition: 0.3s;
  margin: 4%;
  background-image: url('./green-vine-border-hi.png');
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.highres {
  border-radius: 2%;
  height: 100%;
  width: 100%;
}

.lowres {
  margin: 2%;
  float: left;
  height: 10%;
  width: 10%
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

h4 {
  color: brown;
  margin: 1%;
}

.sourcename {
  margin: 1%;
  font-size: 70%;
}

hr {
  margin: 0;
}

.description {
  margin: 2%;
  font-size: 80%;
  color: darkgreen;
}